<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ballchalu.razorpay">


    <application>

        <activity android:name="com.ballchalu.razorpay.container.PaymentSelectionActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_Hp7ErFYxufCDEY" />
    </application>
</manifest>