<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ballchalu.razorpay">


    <application>
        <activity android:name="com.ballchalu.razorpay.PaymentSelectionActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_gv5v06DhD2WNlJ" />
    </application>
</manifest>